/* TABLETS and up but not phone landscape  */
@media screen and (max-width: 768px) {

    .wrapper{
        flex-direction: column;
    }
    p{
        max-width: 500px;
    }
    .menu_hamburger{
        width: 100%;
        min-height: 76px !important;
        background-color: #1c262b;
    }

}

